@charset "utf-8";
/* CSS Document */

/*------------------*/

/* Indice

1. Base 
2. Layout 
3. Modules 
4. State 
5. Theme 

*/

.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.form-control-dark {
  color: #fff;
  background-color: var(--bs-dark);
  border-color: var(--bs-gray);
}
.form-control-dark:focus {
  color: #fff;
  background-color: var(--bs-dark);
  border-color: #fff;
  box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}


/* ---------------------- Base ---------------------- */

:root {
	--primary-green: #009A44;
	--secondary-green: #56C271;
	--light-green: #B0F78B;
	--medium-green: #8EDD65;
	--pink-trademark: #DF1995;
	--primary-gray: #525252;
	--light-gray: #5E5E5E;
	--text-gray: #484848;	
	--light-border: #F1F1F1;
	--medium-border: #E5E5E5;	
	--menubtn-gray: #585858;
	--dark-green: #046a38;
}

body {
	font-family: 'Urbanist', sans-serif !important;
	font-weight: 500;
	color: var(--primary-gray) !important;
}

.bold-title {
    font-weight: 700;
}

.nav-link:focus, .nav-link:hover {
	color: var(--primary-gray);
}

btn:focus,
a:focus,
button:focus {
	outline: none !important;
	box-shadow: none !important;
}

.light-green-btn {
    color: var(--light-green);
    font-size: 15px;
    letter-spacing: 0.48px;
}

.light-green-btn:hover {
    color: #ffffff;
}

a.outline-btn {
    font-size: 15px;
    border: 1px solid var(--medium-green);
    height: 35px;
    line-height: 16px;
    letter-spacing: 0.48px;
    padding: .5rem 1rem .5rem 1.2rem;
}

a.outline-btn.show,
a.outline-btn:hover {
    border: 1px solid #ffffff;
}

a.outline-btn > svg {
	width:10px;
	margin-left:5px;
	transform: rotate(180deg);
	-webkit-transition: all 200ms ease-out;
	-moz-transition: all 200ms ease-out;
	-ms-transition: all 200ms ease-out;
	-o-transition: all 200ms ease-out;
	transition: all 200ms ease-out;
	display: block !important;
}

.login:hover > a.outline-btn > svg {
    transform: rotate(0);
	-webkit-transition: all 200ms ease-out;
	-moz-transition: all 200ms ease-out;
	-ms-transition: all 200ms ease-out;
	-o-transition: all 200ms ease-out;
	transition: all 200ms ease-out;	  
}

a.outline-btn > svg > path {
    fill: #ffffff;
}



/* ---------------------- Modules ---------------------- */



/* Carousel */

.carousel {
  height: 405px;
  background: linear-gradient(0deg, #DADADA96, #F8F7F796);
}

.carousel-item > .container {
    max-width: 1080px;
}

.carousel-caption {

  bottom: 3rem;
  z-index: 10;
}

.home-slider img {
    width: 100%;

    max-width: 522px;

    position: absolute;
    bottom: 0;
}

.slide-txt > .slide-txt-container {
    position: relative;
    border-left: 4px solid var(--pink-trademark);
    padding-left: 50px;
    max-width: 485px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.slide-txt > .slide-txt-container > h1 {
	color: var(--primary-gray);
}

.slide-txt > .slide-txt-container > p.txt-1 {
    font-size: 22px;
    line-height: 31px;
    font-weight: 400;
    color: var(--primary-gray);
}

.slide-txt > .slide-txt-container > p.txt-2 {
    font-size: 23px;
    line-height: 31px;
    color: var(--primary-gray);
}

.multi-search-bar {
    max-width: 610px;
    height: 70px;
    border-radius: 38px;
    background: #ffffff;
    box-shadow: 0px 5px 25px rgba(159,158,158,0.25);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: -30px;
    margin: 0 auto;
    left: 0;
    right: 0;
    z-index: 1;
    width: 100%;
    padding: 0 10px 0 25px;
}

.search-bar-field > span {
    font-size: 17px;
    font-weight: 700;
    line-height: 20px;
    padding-right: 15px;
}

.search-bar-field.type-search {
    max-width: 100%;
    padding: 0 5px;
    border-left: 1px solid #d2d2d2;




    border-right: 1px solid #d2d2d2;
    height: 28px;
}

.search-bar-field.type-search > .select {
    width: 150px;
    height: 28px;
}

.select::after {
background-color: #ffffff;
    color: var(--primary-green);
}

.search-bar-field.number {
    max-width: 80%;
    padding: 0 10px;
    height: 28px;
}

.search-bar-field.search-bar-btn {
    padding: 0 5px;
}

button.search-bar-consult {
    width: 44px;
    height: 44px;
    border: none;
    border-radius: 50px;
    background: none;
    position: relative;
    padding: 0;
}

button.search-bar-consult:hover {
    opacity: 0.8;
}

button.search-bar-consult > img {
    max-width: 100%;
    position: relative;
    max-width: 100%;
    width: auto;
}

.search-bar-field > select, .search-bar-field > input {
    border: none !important;
    box-shadow: none !important;
    color: #4d4d4d;
    padding: 2px .75rem;
}

.search-bar-field > select {
    margin-top: 2px;
}

@media (max-width:770px) {
	.carousel-control-prev {
		left:0;
	}

	.carousel-control-next {
		right:0;
	}
	
	.carousel {
		height: 65vh;
	}

	.slide-txt > .slide-txt-container {
		top: 1rem;
		padding: 20px 0px 20px 50px;
		margin: 0 auto;
	}

	.slide-txt {
		padding: 0;
	}

	.slide-image {
		padding: 0;
		text-align: center;
	}	
	
	.home-slider img {
		max-width: 60%;
		margin: 0 auto !important;
		position: relative;
		width: 100%;
	}
	
	.slide-txt > .slide-txt-container > h1 {
		font-size: 26px;
		line-height: 30px;
		max-width: 292px;
		margin: 0 auto;
	}

	.slide-txt > .slide-txt-container > p.txt-1 {
		font-size: 20px;
		line-height: 23px;
		max-width: 292px;
		margin: 0 auto;
	}

	.slide-txt > .slide-txt-container > p.txt-2 {
		display: none;
	}	
}


@media (max-width:620px) {
	.search-bar-field {
		width: 100%;
	}

	.search-bar-field > select {
		width: 100%;
	}	
	
	.search-bar-field > span {
		font-size: 18px;
	}	

	.search-bar-field > input {
		width: 100%;
		font-size: 16px;
	}	

	.search-bar-field.type-search {
		padding-right: 10px;
		padding-left: 0;
		border-left: 0;
		max-width: 33%;
	}

	.styledSelect {
		font-size: 16px;
	}

	.search-bar-field.number {
		max-width: 52%;
		padding-right: 0 !important;
	}

	.styledSelect {
		padding-left: 0 !important;
	}

	.search-bar-field.search-bar-btn {
		width: 15%;
		padding: 0;
	}

	.multi-search-bar {
		height: auto;
		padding: 22px 30px;
		margin: 0 auto;
		border-radius: 10px;
		flex-wrap: wrap;
		justify-content: space-between;
		max-width: 96%;
	}

	.search-bar-field.type-search > .select {
		width: 100%;
	}

	button.search-bar-consult {
		width: 100%;
	}

	button.search-bar-consult svg {
		width: 16px;
	}
}


@media (max-width:560px) {
	.home-slider img {
		max-width: 90%;
	}
	
	.slide-txt > .slide-txt-container {
		padding-left: 8vw;
		padding-right: 5vw;
		top: 4vw;
		width: 100%;
	}
	
	.slide-txt > .slide-txt-container > h1 {
		margin: 0;
		max-width: 100%;
		font-size: 28px;
		margin-bottom: 5px;
	}

	.slide-txt > .slide-txt-container > p.txt-1 {
		margin: 0;
		max-width: 100%;
	}
	
}

@media (max-width:560px) {
    .multi-search-bar {
    	padding: 16px 10px 16px 20px;
    }	
}
/* Fin Carousel */




/* Cards Solutions Home */

section.solutions-cards-container {
    padding: 80px 0 60px 0;
    background: url(../fonts/bg-soluciones-home.svg) no-repeat;
    background-size: cover;
}

.solution-card {
    height: auto;
    background: #ffffff;
    border: 1px solid #F0F0F0;
    border-radius: 15px;
    position: relative;
    box-shadow: 0px -1px 10px rgb(199 199 199 / 25%);
    width: 31%;
    margin: 1%;
    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -ms-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
}

.solution-card:hover {
    box-shadow: 0px -1px 23px rgba(199,199,199,0.6);
    transform: scale(1.01);
    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;






    -ms-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out;





}

.solution-card.double {
    width: 48%;
}

.solution-card:before {
	content: '';

	width: 3px;
	height: 60px;
	background: var(--secondary-green);
	position: absolute;
	left: 0;
	top: 85px;
}

.solution-card > a {
    border: none;
    box-shadow: none;
    color: var(--primary-gray);
    padding: 25px 40px 20px 40px;
    display: block;
}

h2.solutions-title {
    text-align: center;
    color: var(--primary-gray);
    font-size: 28px;
    font-weight: 600;
    line-height: 33px;
    margin-bottom: 30px;
}

.solution-image {
    max-width: 54px;
    margin-bottom: 15px;
}

.solution-image > img {
	max-width: 100%;
}

.solution-title {
    font-size: 21px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.5px;
    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -ms-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
}

p.solution-desceription {
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.5px;
}

span.more,
a.more {
	text-decoration: none;
	color: var(--primary-green);
	font-family: Urbanist;
	font-size: 16px;
	font-weight: 600;
	line-height: 27px;
	-webkit-transition: all 200ms ease-out;
	-moz-transition: all 200ms ease-out;
	-ms-transition: all 200ms ease-out;
	-o-transition: all 200ms ease-out;
	transition: all 200ms ease-out;
	letter-spacing: 0.4px;
}

span.more > img,
a.more > img {
    margin-left: 10px;
    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -ms-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
    display: block !important;
    width: 7px;
    top: 1px;
    position: relative;
}

a:hover span.more, a.more:hover, a:hover .solution-title {
	color: var(--secondary-green);
	-webkit-transition: all 200ms ease-out;
	-moz-transition: all 200ms ease-out;
	-ms-transition: all 200ms ease-out;
	-o-transition: all 200ms ease-out;
	transition: all 200ms ease-out;	
}

a:hover span.more > img,
a.more:hover > img {
	color: var(--secondary-green);	
    margin-left: 15px;
	-webkit-transition: all 200ms ease-out;
	-moz-transition: all 200ms ease-out;
	-ms-transition: all 200ms ease-out;
	-o-transition: all 200ms ease-out;
	transition: all 200ms ease-out;
	display: block !important;	
}


@media (max-width:750px) {
	section.solutions-cards-container {
		padding-bottom: 20px;
		padding-top: 60px;
	}		

	h2.solutions-title {
		max-width: 280px;
		font-size: 22px;
		font-weight: 600;
		line-height: 28px;
		margin: 0 auto 30px auto;
	}

	section.carrusel.solutions > .container {
		padding: 40px 20px;
	}

	.solution-title {
		font-size: 19px;
		line-height: 19px;
		letter-spacing: 0.3375px;
	}

	p.solution-desceription {
		font-size: 17px;
		line-height: 23px;
		letter-spacing: 0.28125px;
	}	
}

/* Cards Solutions Home */




/* Custom select */

.s-hidden {
    visibility:hidden;
    padding-right:10px;
}
.select {
    cursor:pointer;


    display:inline-block;
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.styledSelect {
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background-color:white;
    padding:0 10px;
    display: flex;
    align-items: center;
}
.styledSelect:after {
    content:"";
    width:0;
    height:0;
    border:5px solid transparent;
    border-color: #818181 transparent transparent transparent;
    position:absolute;
    top: 11px;
    right: 5px;
}
.styledSelect:active, .styledSelect.active {
    background-color: #ffffff;
    color: var(--primary-green);
}
.styledSelect.active:after {
    border-color: var(--primary-green) transparent transparent transparent;

}
.options {
    display:none;
    position:absolute;
    top: 100%;
    right:0;
    left:0;
    z-index:999;
    margin:0 0;

    padding: 15px;
    list-style:none;

    border:1px solid #ccc;
    background-color:white;
    -webkit-box-shadow:0 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow:0 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow:0 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    font-size: 14px;
    width: 150px;
}
.options li {
    padding: 5px;
    margin:0 0;
}
.options li:hover {
    background-color: #ffffff;
    color: var(--primary-green);
}

@media (max-width:620px) {
	.options {
		font-size: 17px;
		padding: 5px 10px;
	}

	.options li {
		padding: 10px 5px;
	}		
}

@media (max-width:420px) {	
	.styledSelect {
		padding: 0;
	}

	.styledSelect:after {
		right: 0;
	}

	.search-bar-field.number > input {
		padding-left: 0;
		padding-right: 0;
	}
}

/* End Custom select */


/* Carrusel */

.slick-prev,
.slick-next {
	font-size: 0;
	line-height: 0;
	position: absolute;
	top: 50%;
	display: block;
	width: 20px;
	height: 20px;
	padding: 0;
	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
	cursor: pointer;
	color: transparent;
	border: none;
	outline: none;
	background: transparent;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
	color: transparent;
	outline: none;
	background: transparent;
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
	opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
	opacity: .25;
}

.slick-prev:before,
.slick-next:before {
	font-family: 'slick';
	font-size: 20px;
	line-height: 1;
	opacity: .75;
	color: white;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.slick-prev {
	left: -25px;
}

[dir='rtl'] .slick-prev {
	right: -25px;
	left: auto;
}

.slick-prev:before {
	content: '←';
}

[dir='rtl'] .slick-prev:before {
	content: '→';
}

.slick-next {
	right: 0;
}

[dir='rtl'] .slick-next {
	right: auto;
	left: 0;
}

.slick-next:before {
	content: '→';
}

[dir='rtl'] .slick-next:before {
	content: '←';
}

.slick-slider {
	position: relative;
	display: block;
	box-sizing: border-box;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
	-khtml-user-select: none;
	-ms-touch-action: pan-y;
	touch-action: pan-y;
	-webkit-tap-highlight-color: transparent;
}

.slick-list {
	position: relative;
	display: block;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

.slick-list:focus {
	outline: none;
}

.slick-list.dragging {
	cursor: pointer;
	cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.slick-track {

	position: relative;
	top: 0;
	left: 0;
	display: flex;
	margin-left: auto;
	margin-right: auto;
}

.slick-track:before,
.slick-track:after {
	display: table;
	content: '';
}

.slick-track:after {
	clear: both;
}

.slick-loading .slick-track {
	visibility: hidden;
}

.slick-slide {
	display: none;
	float: left;
	height: 100%;
	min-height: 1px;
}

[dir='rtl'] .slick-slide {
	float: right;
}

.slick-slide img {
	display: block;
}

.slick-slide.slick-loading img {
	display: none;
}

.slick-slide.dragging img {
	pointer-events: none;
}

.slick-initialized .slick-slide {
	display: block;
	margin: 10px 20px;
	height: auto;
}

.slick-initialized .slick-slide>div,
.slick-initialized .slick-slide>div>div {
	height: 100%;
}

.slick-loading .slick-slide {
	visibility: hidden;
}

.slick-vertical .slick-slide {
	display: block;
	height: auto;
	border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
	display: none;
}

.items {
	width: 100%;
	margin: 0px auto;
}

.slick-slide img {
	width: 100%;
	border: 0px solid #fff
}

.slick-dotted.slick-slider {
	margin-bottom: 30px;
}

.slick-dots {
	position: absolute;
	bottom: -50px;
	display: block;
	width: 100%;

	padding: 0;
	margin: 0;
	list-style: none;
	text-align: center;
}

.slick-dots li {
	position: relative;
	display: inline-block;
	width: 20px;
	height: 20px;
	margin: 0;
	padding: 0;
	cursor: pointer;
}

.slick-dots li button {
	line-height: 0;
	display: block;
	width: 9px;
	height: 9px;
	padding: 5px;
	cursor: pointer;
	color: transparent;
	background: #D2D2D2;
	border: none;
	border-radius: 50%;
}

.slick-dots li.slick-active button {
	line-height: 0;
	display: block;
	padding: 5px;
	background: var(--primary-green);
}


.slick-dots li button:hover,
.slick-dots li button:focus {
	outline: none;
}

@media (max-width:750px) {
	.slick-initialized .slick-slide {
		margin: 10px;
	}	
}

/* End Carrusel */





/* Featured cards */


.featured-card-image {
    width: 49%;
    -webkit-border-bottom-left-radius: 40px;
    -moz-border-radius-bottomleft: 40px;
    border-bottom-left-radius: 40px;
    background-size: cover !important;
    background-position: center !important;
}

.featured-card-content {
    width: 51%;
    background: #F8F8F8;
    -webkit-border-top-right-radius: 40px;
    -moz-border-radius-topright: 40px;
    border-top-right-radius: 40px;
    display: flex;
    flex-direction: column;
    padding: 40px 50px;
    justify-content: center;
}

section.carrusel.featured > .container {
    max-width: 1210px;
    padding: 60px 0 80px 0;
}

section.solutions-cards-container > .container {
    max-width: 1210px;
}

.featured-card > a {
    color: var(--primary-gray);
}

span.label-featured-card {
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    text-align: center;
    color: #ffffff;
    background: var(--secondary-green);
    display: block;
    max-width: 145px;
    padding: 8px 0;
	-webkit-border-top-left-radius: 20px;
	-webkit-border-bottom-right-radius: 20px;
	-moz-border-radius-topleft: 20px;
	-moz-border-radius-bottomright: 20px;
	border-top-left-radius: 20px;
	border-bottom-right-radius: 20px;
    margin-bottom: 20px;
}

.featured-card-content h3 {
    font-size: 25px;
    font-weight: 600;
    line-height: 32px;
    padding-right: 40px;
    margin-bottom: 15px;
    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -ms-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
    display: block;
}

a:hover .featured-card-content h3 {
    text-decoration: underline;
    color: var(--primary-green);
    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -ms-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
    display: block;    
}

.featured-card-content p {
    font-size: 17px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.3px;
}

@media (max-width:1220px) {
	section.carrusel.featured > .container {
		padding: 60px 10px;
	}	
	
	.solutions-boxed {
		padding: 0;
	}

	section.solutions-cards-container > .container {
		padding: 0 30px;
	}
	
	section.carrusel.featured > .container {
		padding: 60px 10px;
	}		
}

@media (max-width:770px) {
	.solution-card, .solution-card.double {
		width: 100%;
		margin-bottom: 20px;
	}

	.solution-image > img {
		max-width: 50px;
	}

	.solution-card > a {
		padding: 10px 20px 20px 30px;
	}
	
	section.carrusel.featured > .container {
		padding: 30px 15px 60px 15px;
		background: #f8f8f8;
		-webkit-border-top-right-radius: 40px;
		-moz-border-radius-topright: 40px;
		border-top-right-radius: 40px;
	}	
	
	.featured-card-inner {
		flex-wrap: wrap;
	}

	.featured-card-image {
		width: 100%;
		height: 220px;
		background-position: top !important;
	}

	.featured-card-content {
		width: 100%;
		padding: 0;
	}

	.featured-boxed .slick-slide {
		margin-top: 0;
		margin-bottom: 0;
	}
	
	span.label-featured-card {
		margin: 0;
		top: -20px;
		position: relative;
	}

	.featured-card-content h3 {
		font-size: 22px;
		line-height: 27px;
	}

	.featured-card-content p {
		font-size: 16px;
		line-height: 23px;
		letter-spacing: 0.28235295px;
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
	}	
}

/* End Featured cards */



/* App details */

section.app-details > .container {
	max-width: 1200px;
}

section.app-details:before {
    content: '';
    width: 100%;
    height: 62%;
    background: var(--secondary-green);
    position: absolute;
    top: 18%;
}

section.app-details > .container {
    position: relative;
    margin: 0 auto 40px auto;
}

section.app-details {
    position: relative;
}

.phones-mockups > img {
    width: 100%;
    height: auto;
    margin-top: 8%;
}

.phones-mockups {
    width: 60%;
}

.apps-stores {
    width: 40%;
}

.apps-stores h2 {
    font-size: 30px;
    font-weight: 500;
    line-height: 36px;
    color: #ffffff;
    max-width: 400px;
    margin-bottom: 25px;
    position: relative;
}

.apps-stores h2:before {
    content: '';
    width: 60px;
    height: 3px;
    border-radius: 1.5px;
    background: #ffffff;
    display: block;
    margin-bottom: 30px;
}

a.store-logo {
    padding-right: 10px;
}

a.store-logo img {
    width: 100%;
    border-radius: 7px;
	-webkit-transition: all 200ms ease-out;
	-moz-transition: all 200ms ease-out;
	-ms-transition: all 200ms ease-out;
	-o-transition: all 200ms ease-out;
	transition: all 200ms ease-out;  	
}

a.store-logo:hover > img {
    opacity: 0.8;
    box-shadow: 0px 2px 7px #055e2d;
	-webkit-transition: all 200ms ease-out;
	-moz-transition: all 200ms ease-out;
	-ms-transition: all 200ms ease-out;
	-o-transition: all 200ms ease-out;
	transition: all 200ms ease-out;  	
}

.app-info-container .mobile {
    display: none !important;
}

.app-info-container .desktop {
    display: block;
}

@media (max-width: 1200px) {
	section.app-details > .container {
		padding: 0 30px;
	}	
}

@media (max-width:860px) {
	.apps-stores h2 {
		font-size: 22px;
		line-height: 26px;
		max-width: 100%;
		padding: 0 0 20px 0;
	}
}

@media (max-width:660px) {
	section.app-details > .container {
		margin-bottom: 0;
	}
	
	.app-info-container .desktop {
		display: none !important;
	}
	
	section.app-details:before {
		top: 0;
		height: 80%;
	}

	.app-info-container .mobile {
		display: block !important;
		margin: 0;
		max-width: 65%;
		height: auto;
	}

	.app-info-container {
		flex-direction: column;
	}

	.phones-mockups {
		width: 100%;
		display: flex;
	}

	.apps-stores {
		width: 100%;
	}

	a.store-logo img {
		margin-bottom: 20px;
	}

	.stores-logos.mobile {
		margin-top: 35px;
		width: 45%;
	}

	.apps-stores h2 {
		font-size: 25px;
		line-height: 30px;
		margin-bottom: 10px;
		padding-top: 40px;
	}

	.apps-stores h2:before {
		margin-bottom: 20px;
	}

	a.store-logo {
		padding: 0;
	}		
}


/* End App details */




/* More solutions */
section.more-solutions > .container {
    max-width: 1220px;
}

.more-solutions-box {
    justify-content: space-between;
    position: relative;
    margin-bottom: 100px;
}

.solutions-inner01  h2 {
    font-size: 26px;
    font-weight: 700;
    line-height: 33px;
    margin: 0;
}

.solutions-inner01 {
    width: 30%;
    padding-right: 40px;
    border-left: 4px solid var(--primary-green) !important;
    padding-left: 30px;
    padding-bottom: 0 !important;
}

.solutions-inner02 {
    width: 23%;
    border-right: solid 1px #e9e9e9;
    padding-right: 20px;
}

.solutions-inner03 {
    width: 26%;
    border-right: solid 1px #e9e9e9;
    padding-left: 35px;
    padding-right: 35px;
}

.solutions-inner04 {
    width: 21%;
    padding-left: 35px;
}

.more-solutions-inner img {
	max-height: 50px;
}

.more-solutions-inner p {
    font-size: 15px;
    line-height: 21px;
    letter-spacing: 0.28125px;
    margin-bottom: 5px;
}

.more-solutions-inner {
    position: relative;
    padding-bottom: 40px;
}

.more-solutions-inner a.d-flex.more {
    position: absolute;
    bottom: 0px;
}

.solution-card-img:after {
    content: '';
    width: 40px;
    height: 2px;
    background: var(--primary-green);
    display: block;
    position: absolute;
    bottom: 0;
}   

.solution-card-img {
    position: relative;
    margin-bottom: 12px;
}

@media (max-width:1220px) {
	section.more-solutions > .container {
		padding-left: 0;
		padding-right: 30px;
	}	
}

@media (max-width:770px) {
	.more-solutions-box > .more-solutions-inner {
		width: 100%;
		padding: 20px 30px !important;
		border-left: solid 1px #e9e9e9;
		border-right: none;
		border-bottom: solid 1px #e9e9e9;
	}
	
	.more-solutions-box > .more-solutions-inner.solutions-inner01,
	.more-solutions-box > .more-solutions-inner:last-child {
		border-bottom: none;
	}
	
	.solutions-inner01 h2 {
		font-size: 25px;
		line-height: 32px;		
	}

	.more-solutions-inner p {
		font-size: 17px;
		line-height: 25px;
	}

	.more-solutions-box {
		flex-wrap: wrap;
		margin-bottom: 30px;
	}
	
	section.more-solutions > .container {
		padding: 0;
	}

	.more-solutions-inner a.d-flex.more {
		position: relative;
	}
}

/* End More solutions */




/* Tabs news and promos home */

.carrusel.more-news > .container {
    max-width: 1160px;
}

section.carrusel.more-news {
    background: #F8F8F8;
    -webkit-border-top-left-radius: 65px;
    -moz-border-radius-topleft: 65px;
    border-top-left-radius: 65px;
    padding: 65px 0 45px 0;
}

.news-tabs-container > .filter-title {
    display: none;
}

.tab-content.information-tabs-content {
    min-height: 340px;
    margin: 30px auto 0 auto;
    max-width: 1150px;
    position: relative;
}

.tab-content>.tab-pane > .news-boxed {
    max-width: 1150px;
}

.tab-content>.tab-pane > .news-boxed > .slick-list {
    max-width: 1150px;
}

.tabs-filters-containers {
    display: flex;
    justify-content: space-between;
    max-width: 1150px;
    margin: 0 20px;
}

.tabs-containers {
    align-items: center;
    display: flex;
    width: 60%;
    position: relative;
}

.filters-containers {
    display: flex;
    align-items: center;
}

.information-tab-inner {
    flex-wrap: wrap;
    justify-content: space-between;
}

.tab-content>.tab-pane {
	position:absolute;
	max-width: 1150px;
	width: 100%;
	left: -0.3vw;
}

.tab-content>.tab-pane.fade {
	display: block !important;
	opacity: 0;
	z-index: 0;
}

.tab-content>.tab-pane.active {
	opacity: 1;
	z-index: 1;
}


.news-tabs-container button.nav-link {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    background: none !important;
    border: none !important;
    position: relative;
    color: var(--primary-gray);
    padding: 0;
}

.news-tabs-container .nav-tabs {
    border: none;
}

.news-tabs-container button.nav-link.active {
	color: var(--primary-green);
}

.news-tabs-container button.nav-link.active:after,
.news-tabs-container button.nav-link:hover:after {
	content: '';
	width: 100%;
	height: 2px;
	background: var(--primary-green);
	position: absolute;
	left: 0;
	bottom: -5px;
}

.news-tabs-container .nav-tabs > li.nav-item {
	padding: 0 25px;
}

.news-tabs-container .nav-tabs > li.nav-item:first-child {
	padding-left: 0;
}

.news-tabs-container .nav-tabs > li.nav-item:hover > button.nav-link {
	color: var(--primary-green);
}

.more-news-title {
    font-size: 32px;
    font-weight: 600;
    line-height: 33px;
    text-align: center;
    margin-bottom: 30px;

}

.card-news-tabs-inner {
    margin: 0;
}

.card-news-tabs-inner a {
    color: var(--primary-gray);
}

.card-news-image {
    position: relative;
}

.card-news-image > img {
    width: 100%;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    box-shadow: 0px 4px 7px rgba(190,190,190,0.5);
	-webkit-transition: all 200ms ease-out;

	-moz-transition: all 200ms ease-out;
	-ms-transition: all 200ms ease-out;
	-o-transition: all 200ms ease-out;
	transition: all 200ms ease-out;    
}

a.card-news-container:hover > .card-news-image > img {
    box-shadow: 0px 4px 13px rgba(190,190,190,0.9);  
	-webkit-transition: all 200ms ease-out;
	-moz-transition: all 200ms ease-out;
	-ms-transition: all 200ms ease-out;
	-o-transition: all 200ms ease-out;
	transition: all 200ms ease-out;    
}  

span.card-news-category {
    position: absolute;
    left: 20px;
    top: 10px;
    color: #ffffff;
    font-size: 12px;
    font-weight: 600;
    line-height: 24px;
    text-align: right;
    text-transform: uppercase;
    letter-spacing: 0.32727274px;



    padding: 0 10px;
    border-radius: 2.4px;
}

span.card-news-category.persons, span.card-news-category.valid {
	background: var(--secondary-green);
}

span.card-news-category.company {
	background: var(--dark-green);
}

span.card-news-category.expired {
	background: #818181;
}

.card-news-content {
    padding: 15px 10px;
}

span.card-news-date {
    color: var(--primary-green);
    font-family: Urbanist;
    font-size: 13px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.37142858px;
}

.card-news-content > h3 {
	font-size: 18px;
	font-weight: 600;
	line-height: 23px;
    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -ms-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

a.card-news-container:hover .card-news-content > h3 {
    color: var(--primary-green);
    text-decoration: underline;
	-webkit-transition: all 200ms ease-out;
	-moz-transition: all 200ms ease-out;
	-ms-transition: all 200ms ease-out;
	-o-transition: all 200ms ease-out;
	transition: all 200ms ease-out;		
}

p.card-news-excerpt {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.4px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

@media (max-width:960px) {
	section.carrusel.more-news > .container {
        padding: 0;
	}

	section.carrusel.more-news {	
		padding: 35px 0 20vw 0;
	}
}

@media (max-width:750px) {
	.more-news-title {
		font-size: 26px;
		font-weight: 600;
		line-height: 30px;
		text-align: center;
		padding: 0 30px;
	}	

	.card-news-tabs-inner {
		margin: 0 10px;
	}		

	section.carrusel.solutions > .container {
		padding: 40px 20px;
	}

	p.solution-desceription {
		font-size: 16px;
		line-height: 20px;
		letter-spacing: 0.28125px;
	}

	.news-tabs-container .nav-tabs {
		justify-content: center;
	}	
}

@media (max-width:560px) {
	.filters-containers {
	    display: none;
	}

	.tabs-filters-containers {
		justify-content: center;
	}
	
	.tab-content>.tab-pane > .news-boxed {
		margin-bottom: 0;
	}

	.tab-content.information-tabs-content {
		min-height: 72vw;
	}	

	.news-tabs-container > .filter-title {
		display: block;
	}	

	.news-tabs-container .nav-tabs > li.nav-item {
		padding: 0 5px !important;
		width: 40%;
		text-align: center;
		display: block;
	}
	
	.news-tabs-container button.nav-link {
		font-size: 5vw;
		line-height: 22px;
		margin: 0 auto;
	}	

	.tabs-containers {
		width: 100%;
		justify-content: center;
		display: block;
	}
	
	.filter-title > a.more {
		justify-content: center;
	}		

}

@media (max-width:480px) {
	.tab-content.information-tabs-content {
		min-height: 110vw;
	}		
}


/* End Tabs news and promos home */



/* Contact us floating menu */

.contact-us-floating {
    position: fixed;
    right: 40px;
    bottom: 20px;
}

.contact-us-floating a {
    width: 60px;
    height: 60px;
    padding: 15px;	
    background: linear-gradient(180deg, #56C271, #009A44);
    display: block;
    border-radius: 50px;

    box-shadow: 0px 2px 12px rgba(168,203,177,0.7);
	-webkit-transition: all 200ms ease-out;
	-moz-transition: all 200ms ease-out;
	-ms-transition: all 200ms ease-out;
	-o-transition: all 200ms ease-out;
	transition: all 200ms ease-out;    
}

.contact-us-floating a:hover {
    box-shadow: 0px 2px 12px #63ae76;
	-webkit-transition: all 200ms ease-out;
	-moz-transition: all 200ms ease-out;
	-ms-transition: all 200ms ease-out;
	-o-transition: all 200ms ease-out;
	transition: all 200ms ease-out;    
}

.contact-us-floating {
    position: fixed;
    right: 50px;
    bottom: 40px;
	z-index: 3;
}

.contact-us-floating a {
    width: 60px;
    height: 60px;
    padding: 15px;
    background: linear-gradient(180deg, #56C271, #009A44);
    display: block;
    border-radius: 50px;
    box-shadow: 0px 2px 12px rgba(168,203,177,0.7);
    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -ms-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
}

.contact-us-floating a:hover {
    box-shadow: 0px 2px 12px #63ae76;
	-webkit-transition: all 200ms ease-out;
	-moz-transition: all 200ms ease-out;
	-ms-transition: all 200ms ease-out;
	-o-transition: all 200ms ease-out;
	transition: all 200ms ease-out;    
}

@media(max-width:660px){
	.contact-us-floating {
		right: 30px;
		bottom: 30px;
	}	

	.contact-us-floating a {
		width: 55px;
		height: 55px;
		padding: 14px 13px;
	}

	.contact-us-floating a img{
		width: 30px;
	}
	
	.search-bar-field > select {
    padding: 2px .25rem;
	margin-top: 2px;
}
}

/* End Contact us floating menu */